    {% extends "TroisWAFrontBundle::layout.html.twig" %}

{% block content %}
<section id="content">

    <div id="slider-sequence" class="homeslider">
        <div class="sequence-prev"></div><!-- End sequence-prev-->
        <div class="sequence-next"></div><!-- End sequence-next-->
        <ul class="sequence-canvas">
            <li class="sequence-slide1">
                <div class="sequencebg">
                    <img src="http://4.bp.blogspot.com/-9n-GD2JtVEg/VbpkXQWWtZI/AAAAAAAAALc/dQWIjCjP4r8/s1600/2015_minions-1280x720.jpg" alt="Slide 1 image" class="sequencebg-image">
                </div><!-- End .sequencebg -->
                <div class="sequence-container container">
                    <div class="sequence-title">Special offer -25%</div>
                    <div class="sequence-subtitle">Performance &amp; Design. Taken right to the edge.</div>
                    <a href="#" class="btn btn-custom-2 btn-sequence">Learn More</a>
                </div><!-- End .sequence-container -->
            </li>

            <li class="sequence-slide2">
                <div class="sequencebg">
                    <img src="https://piratulcinefil.files.wordpress.com/2015/07/minion-buttt.jpg" alt="Slide 2 image" class="sequencebg-image">
                </div><!-- End .sequencebg -->
                <div class="sequence-container container">
                    <div class="sequence-price">$150</div>
                    <div class="sequence-title">The next big thing...</div>
                    <div class="sequence-subtitle">Have fun and enjoy your new Minions</div>
                    <a href="#" class="btn btn-custom-2 btn-sequence">Learn More</a>
                </div><!-- End .sequence-container -->
            </li>

            <li class="sequence-slide3">
                <div class="sequencebg">
                    <img src="http://masnaomediga.com/wp-content/uploads/2015/06/Despicable-Me-2-Movie-Minions.jpg" alt="Slide 3 image" class="sequencebg-image">
                </div><!-- End .sequencebg -->
                <div class="sequence-container container">
                    <div class="sequence-title">"Kanpai!".Pwede na?. BEE-DO! BEE-DO!</div>
                    <div class="sequence-subtitle">Enjoy a new world</div>
                    <a href="#" class="btn btn-custom-2 btn-sequence">Learn More</a>
                </div><!-- End .sequence-container -->
            </li>
        </ul>

        <ul class="sequence-pagination">
            <li>Frame 1</li>
            <li>Frame 2</li>
            <li>Frame 3</li>
        </ul>
    </div><!-- End #slider-sequence -->


    <div class="md-margin2x"></div><!-- Space -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-9 col-sm-8 col-xs-12 main-content">
                        <header class="content-title">
                            <h2 class="title">Our Products</h2>
                            <p class="title-desc">Enjoy the best quality Minions</p>
                        </header>
                        <ul id="products-tabs-list" class="tab-style-1 clearfix">
                            <li class="active"><a href="#latest" data-toggle="tab">Sales</a></li>
                            <li><a href="#bestsellers" data-toggle="tab">Bestsellers</a></li>
                            <li><a href="#special" data-toggle="tab">Special</a></li>
                        </ul>

                        <div id="products-tabs-content" class="row tab-content">
                            <div class="tab-pane active" id="latest">

                               {% for product in products %}
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">
                                        <div class="item-image-container">
                                            <figure>
                                                <a href="{{ path("trois_wa_front_product",{id:product.id}) }}">
                                                    {% if product.image %}
                                                        <img src="{{ asset(product.image.webpath("thumb-small")) }}" alt="{{ product.title }}" class="item-image">
                                                    {% endif %}

                                                    {% if product.image %}
                                                        <img src="{{ asset(product.image.webpath("thumb-small")) }}" alt="{{ product.title }} Hover" class="item-image-hover">
                                                    {% endif %}
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="old-price">${{ product.salePrice }}</span>
                                                <span class="item-price">${{ product.price }}</span>
                                            </div>
                                            <span class="new-rect">New</span>
                                        </div><!-- End .item-image -->

                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="90"></div>
                                                </div><!-- End .ratings -->
        											<span class="ratings-amount">
        												3 Reviews
        											</span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">{{ product.title }}</a></h3>
                                            <div class="item-action">
                                                <a href="{{ path("trois_wa_front_cart_add",{'id':product.id}) }}" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->


                                </div><!-- End .col-md-4 -->
                               {% endfor %}

                            </div><!-- End .tab-pane -->


                            <div class="tab-pane" id="bestsellers">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/item1.jpg" alt="item1" class="item-image">
                                                    <img src="images/products/item1-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="old-price">$210<span class="sub-price">.99</span></span>
                                                <span class="item-price">$16<span class="sub-price">.99</span></span>
                                            </div>
                                            <span class="new-rect">New</span>
                                            <span class="discount-rect">-15%</span>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="70"></div>
                                                </div><!-- End .ratings -->
        											<span class="ratings-amount">
        												3 Reviews
        											</span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->

                                </div><!-- End .col-md-4 -->

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/item2.jpg" alt="item2" class="item-image">
                                                    <img src="images/products/item2-hover.jpg" alt="item2 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">$110<span class="sub-price">.991</span></span>
                                            </div>
                                            <span class="new-rect">New</span>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">

                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->

                                </div><!-- End .col-md-4 -->

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/item3.jpg" alt="item3" class="item-image">
                                                    <img src="images/products/item3-hover.jpg" alt="item3 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="old-price">$100</span>
                                                <span class="item-price">$75</span>
                                            </div>
                                            <span class="new-rect">New</span>
                                            <span class="discount-rect">-25%</span>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="90"></div>
                                                </div><!-- End .ratings -->
        											<span class="ratings-amount">
        												3 Reviews
        											</span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->

                                </div><!-- End .col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/phone2.jpg" alt="Phone 2" class="item-image">
                                                    <img src="images/products/phone2-hover.jpg" alt="Phone 2 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">$199</span>
                                            </div>
                                            <span class="discount-rect">-30%</span>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="80"></div>
                                                </div><!-- End .ratings -->
        											<span class="ratings-amount">
        												3 Reviews
        											</span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->


                                </div><!-- End .col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/phone3.jpg" alt="Phone 3" class="item-image">
                                                    <img src="images/products/phone3-hover.jpg" alt="Phone 3 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">$99<span class="sub-price">.75</span></span>
                                            </div>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">

                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->


                                </div><!-- End .col-md-4 -->

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/headphones1.jpg" alt="Headphones 1" class="item-image">
                                                    <img src="images/products/headphones1-hover.jpg" alt="Headphones 1 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">$79<span class="sub-price">.99</span></span>
                                            </div>
                                            <span class="new-rect">New</span>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">

                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->


                                </div><!-- End .col-md-4 -->
                            </div><!-- End .tab-pane -->


                            <div class="tab-pane" id="special">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/item3.jpg" alt="item3" class="item-image">
                                                    <img src="images/products/item3-hover.jpg" alt="item3 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">$160<span class="sub-price">.99</span></span>
                                            </div>
                                            <span class="new-rect">New</span>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="95"></div>
                                                </div><!-- End .ratings -->
        											<span class="ratings-amount">
        												1 Reviews
        											</span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->

                                </div><!-- End .col-md-4 -->

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/phone1.jpg" alt="Phone 1" class="item-image">
                                                    <img src="images/products/phone1-hover.jpg" alt="Phone 1 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="old-price">$160</span>
                                                <span class="item-price">$120</span>
                                            </div>
                                            <span class="new-rect">New</span>
                                            <span class="discount-rect">-20%</span>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="90"></div>
                                                </div><!-- End .ratings -->
        											<span class="ratings-amount">
        												3 Reviews
        											</span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->


                                </div><!-- End .col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/phone2.jpg" alt="Phone 2" class="item-image">
                                                    <img src="images/products/phone2-hover.jpg" alt="Phone 2 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">$199</span>
                                            </div>
                                            <span class="discount-rect">-30%</span>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="80"></div>
                                                </div><!-- End .ratings -->
        											<span class="ratings-amount">
        												3 Reviews
        											</span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->


                                </div><!-- End .col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/phone2.jpg" alt="Phone 2" class="item-image">
                                                    <img src="images/products/phone2-hover.jpg" alt="Phone 2 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">$199</span>
                                            </div>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-result" data-result="80"></div>
                                                </div><!-- End .ratings -->
        											<span class="ratings-amount">
        												3 Reviews
        											</span>
                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->


                                </div><!-- End .col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/phone3.jpg" alt="Phone 3" class="item-image">
                                                    <img src="images/products/phone3-hover.jpg" alt="Phone 3 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">$99<span class="sub-price">.75</span></span>
                                            </div>
                                            <span class="new-rect">New</span>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">

                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->


                                </div><!-- End .col-md-4 -->

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="item">

                                        <div class="item-image-container">
                                            <figure>
                                                <a href="product.html">
                                                    <img src="images/products/headphones1.jpg" alt="Headphones 1" class="item-image">
                                                    <img src="images/products/headphones1-hover.jpg" alt="Headphones 1 Hover" class="item-image-hover">
                                                </a>
                                            </figure>
                                            <div class="item-price-container">
                                                <span class="item-price">$79<span class="sub-price">.99</span></span>
                                            </div>
                                            <span class="new-rect">New</span>
                                        </div><!-- End .item-image -->
                                        <div class="item-meta-container">
                                            <div class="ratings-container">

                                            </div><!-- End .rating-container -->
                                            <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                            <div class="item-action">
                                                <a href="#" class="item-add-btn">
                                                    <span class="icon-cart-text">Add to Cart</span>
                                                </a>
                                                <div class="item-action-inner">
                                                    <a href="#" class="icon-button icon-like">Favourite</a>
                                                    <a href="#" class="icon-button icon-compare">Checkout</a>
                                                </div><!-- End .item-action-inner -->
                                            </div><!-- End .item-action -->
                                        </div><!-- End .item-meta-container -->
                                    </div><!-- End .item -->


                                </div><!-- End .col-md-4 -->
                            </div><!-- End .tab-pane -->
                        </div><!-- End #products-tabs-content -->


                        <div class="xlg-margin"></div><!-- Space -->

                        <div class="hot-items carousel-wrapper">
                            <header class="content-title">
                                <div class="title-bg">
                                    <h2 class="title">On Sale</h2>
                                </div><!-- End .title-bg -->
                                <p class="title-desc">Only with us you can get a new model with a discount.</p>
                            </header>

                            <div class="carousel-controls">
                                <div id="hot-items-slider-prev" class="carousel-btn carousel-btn-prev">
                                </div><!-- End .carousel-prev -->
                                <div id="hot-items-slider-next" class="carousel-btn carousel-btn-next carousel-space">
                                </div><!-- End .carousel-next -->
                            </div><!-- End .carousel-controls -->
                            <div class="hot-items-slider owl-carousel">

                                {% for last in latestProducts %}
                                <div class="item">

                                    <div class="item-image-container">
                                        <figure>
                                            <a href="{{ path('trois_wa_front_product',{id:last.id}) }}">
                                                {% if last.image %}
                                                    <img src="{{ asset(last.image.webpath("thumb-small")) }}" alt="{{ last.title }}" class="item-image">
                                                {% endif %}

                                                {% if last.image %}
                                                    <img src="{{ asset(last.image.webpath("thumb-small")) }}" alt="{{ last.title }} Hover" class="item-image-hover">
                                                {% endif %}
                                            </a>
                                        </figure>
                                        <div class="item-price-container">
                                            <span class="item-price">${{ last.price }}</span>
                                        </div>
                                        <span class="new-rect">New</span>
                                    </div><!-- End .item-image -->
                                    <div class="item-meta-container">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-result" data-result="95"></div>
                                            </div><!-- End .ratings -->
        											<span class="ratings-amount">
        												1 Reviews
        											</span>
                                        </div><!-- End .rating-container -->
                                        <h3 class="item-name"><a href="product.html">Lorem Ipsum Dolla</a></h3>
                                        <div class="item-action">
                                            <a href="#" class="item-add-btn">
                                                <span class="icon-cart-text">Add to Cart</span>
                                            </a>
                                            <div class="item-action-inner">
                                                <a href="#" class="icon-button icon-like">Favourite</a>
                                                <a href="#" class="icon-button icon-compare">Checkout</a>
                                            </div><!-- End .item-action-inner -->
                                        </div><!-- End .item-action -->
                                    </div><!-- End .item-meta-container -->
                                </div><!-- End .item -->

                                    {% endfor %}


                            </div><!--hot-items-slider -->
                            <div class="lg-margin"></div><!-- Space -->
                        </div><!-- End .hot-items -->
                    </div><!-- End .col-md-9 -->

                    <div class="col-md-3 col-sm-4 col-xs-12 sidebar">
                        <div class="widget subscribe">
                            <h3>BE THE FIRST TO KNOW</h3>
                            <p> Get all the latest information on Events, Sales and Offers. Sign up for MinionSymfony today.</p>
                            <form action="#" id="subscribe-form">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="subscribe-email" placeholder="Enter your email address">
                                </div>
                                <input type="submit" value="SUBMIT" class="btn btn-custom">
                            </form>
                        </div>
                        <div class="widget testimonials">
                            <h3>Testimonials</h3>

                            <div class="testimonials-slider flexslider sidebarslider">
                                <ul class="testimonials-list clearfix">
                                   {% for testimonial in lastComs %}
                                    <li>
                                        <div class="testimonial-details">
                                            <header>{{ testimonial.author }}</header>
                                           {{ testimonial.content }}
                                        </div><!-- End .testimonial-details -->

                                    </li>
                                   {% endfor %}
                                </ul>
                            </div><!-- End .testimonials-slider -->
                        </div><!-- End .widget -->


                        <div class="widget latest-posts">
                            <h3>Latest News</h3>

                            <div class="latest-posts-slider flexslider sidebarslider">
                                <ul class="latest-posts-list clearfix">
                                    <li>

                                        <h4><a href="single.html">35% Discount on second purchase!</a></h4>
                                        <p>Sed blandit nulla nec nunc ullamcorper tristique. Mauris adipiscing cursus ante ultricies dictum sed lobortis.</p>
                                        <div class="latest-posts-meta-container clearfix">
                                            <div class="pull-left">
                                                <a href="#">Read More...</a>
                                            </div><!-- End .pull-left -->
                                            <div class="pull-right">
                                                12.05.2013
                                            </div><!-- End .pull-right -->
                                        </div><!-- End .latest-posts-meta-container -->
                                    </li>

                                    <li>

                                        <h4><a href="single.html">Free shipping for regular customers.</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fuga officia in molestiae easint..</p>
                                        <div class="latest-posts-meta-container clearfix">
                                            <div class="pull-left">
                                                <a href="#">Read More...</a>
                                            </div><!-- End .pull-left -->
                                            <div class="pull-right">
                                                10.05.2013
                                            </div><!-- End .pull-right -->
                                        </div><!-- End .latest-posts-meta-container -->
                                    </li>

                                    <li>

                                        <h4><a href="#">New jeans on sales!</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fuga officia in molestiae easint..</p>
                                        <div class="latest-posts-meta-container clearfix">
                                            <div class="pull-left">
                                                <a href="#">Read More...</a>
                                            </div><!-- End .pull-left -->
                                            <div class="pull-right">
                                                8.05.2013
                                            </div><!-- End .pull-right -->
                                        </div><!-- End .latest-posts-meta-container -->
                                    </li>

                                </ul>
                            </div><!-- End .latest-posts-slider -->
                        </div><!-- End .widget -->



                    </div><!-- End .col-md-3 -->
                </div><!-- End .row -->

                <div id="brand-slider-container" class="carousel-wrapper">
                    <header class="content-title">
                        <div class="title-bg">
                            <h2 class="title">Manufacturers</h2>
                        </div><!-- End .title-bg -->
                    </header>
                    <div class="carousel-controls">
                        <div id="brand-slider-prev" class="carousel-btn carousel-btn-prev">
                        </div><!-- End .carousel-prev -->
                        <div id="brand-slider-next" class="carousel-btn carousel-btn-next carousel-space">
                        </div><!-- End .carousel-next -->
                    </div><!-- End .carousel-controllers -->
                    <div class="sm-margin"></div><!-- space -->
                    <div class="brand-slider owl-carousel">
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 1"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 2"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 3"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 4"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 5"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 6"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 7"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 8"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 9"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 10"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 11"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 12"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 13"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 14"></a>
                        <a href="#"><img src="images/brands/brand-logo.png" alt="Brand Logo 15"></a>
                    </div><!-- End .brand-slider -->
                </div><!-- End #brand-slider-container -->

            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

</section><!-- End #content -->

{% endblock %}