{% extends "TroisWABackBundle::layoutBo2.html.twig" %}

{% block page %} Product edit {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("css/prettyPhoto.css") }}">
    <link rel="stylesheet" href="{{ asset("css/colpick.css") }}">
    <link rel="stylesheet" href="{{ asset("css/owl.carousel.css") }}">
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">

{% endblock %}

{% block content %}

    {#{{ dump(product.category.title) }}#}

    <div class="row">
        <div class="col-md-12">

            <div class="row">

                <div class="col-md-6 col-sm-12 col-xs-12 product-viewer clearfix">

                    <div id="product-image-carousel-container">
                        <ul id="product-carousel" class="celastislide-list">
                            <li class="active-slide"><a data-rel='prettyPhoto' href="images/products/big-phone1.jpg" ><img src="http://vignette1.wikia.nocookie.net/parody/images/3/33/Stuart_gulitar_minions_4.jpg/revision/latest?cb=20150507162458" alt="Phone photo 1"></a></li>

                        </ul><!-- End product-carousel -->
                    </div>

                    <div id="product-image-container">
                        <figure><img src="http://vignette1.wikia.nocookie.net/parody/images/3/33/Stuart_gulitar_minions_4.jpg/revision/latest?cb=20150507162458" alt="Product Big image" id="product-image" data-big="images/products/big-phone1.jpg">
                            <figcaption class="item-price-container">
                                <span class="old-price">000€</span>
                                <span class="item-price">{{ product.price }}€</span>
                            </figcaption>
                        </figure>
                    </div><!-- product-image-container -->
                </div><!-- End .col-md-6 -->

                <div class="col-md-6 col-sm-12 col-xs-12 product">
                    <div class="lg-margin visible-sm visible-xs"></div><!-- Space -->
                    <h1 class="product-name">{{ product.title }}</h1>
                    <div class="ratings-container">
                        <div class="ratings separator">
                            <div class="ratings-result" data-result="70"></div>
                        </div><!-- End .ratings -->
								<span class="ratings-amount separator">
									3 Review(s)
								</span>
                        <span class="separator">|</span>
                        <a href="#review" class="rate-this">Add Your Review</a>
                    </div><!-- End .rating-container -->
                    <ul class="product-list">
                        <li><span>Availability:</span>In Stock</li>
                        <li><span>Product Code:</span>{{ product.reference }}</li>
                        <li><span>Active:</span>{% if product.activate == 1 %} Visible {% else %} hidden {% endif %}</li>
                    </ul>
                    <hr>

                    <div class="product-size-filter-container">
                        <span>Select Size:</span>
                        <div class="xs-margin"></div>
                        <ul class="filter-size-list clearfix">
                            <li><a href="#">XS</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">M</a></li>
                            <li><a href="#">L</a></li>
                            <li><a href="#">XL</a></li>
                        </ul>
                    </div><!-- End .product-size-filter-container-->
                    <hr>
                    <div class="product-extra clearfix">


                        <a href="{{  path("trois_wa_back_product_edit",{'id':product.id} ) }}" class="btn btn-success"> <i class="fa fa-pencil"></i></a>
                        <a href="{{  path("trois_wa_back_product_delete",{'id':product.id} ) }}" class="btn btn-success">  <i class="fa fa-times"></i></a>


                        <div class="md-margin visible-xs"></div>
                        <div class="share-button-group">

                        </div><!-- End .share-button-group -->
                    </div>
                </div><!-- End .col-md-6 -->


            </div><!-- End .row -->


            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="tab-container left product-detail-tab clearfix">
                        <ul class="nav-tabs">
                            <li class="active"><a href="#overview" data-toggle="tab">Description</a></li>
                            <li><a href="#description" data-toggle="tab">Overview</a></li>
                            <li><a href="#review" data-toggle="tab">Reviews</a></li>
                        </ul>
                        <div class="tab-content clearfix">

                            <div class="tab-pane active" id="overview">
                                {{ product.description|raw }}

                            </div><!-- End .tab-pane -->

                            <div class="tab-pane" id="description">
                                <p>The perfect mix of portability and performance in a slim 1" form factor:</p>
                                <ul class="product-details-list">
                                    <li>3rd gen Intel® Core™ i7 quad core processor available;</li>
                                    <li>Windows 8 Pro available;</li>
                                    <li>13.3" and 15.5" screen sizes available;</li>
                                    <li>Double your battery life with available sheet battery;</li>
                                    <li>4th gen Intel® Core™ i7 processor available;</li>
                                    <li>Full HD TRILUMINOS IPS touchscreen (1920 x 1080);</li>
                                    <li>Super fast 512GB PCIe SSD available;</li>
                                    <li>Ultra-light at just 2.34 lbs.</li>
                                    <li>And more...</li>
                                </ul>
                            </div><!-- End .tab-pane -->


                            <div class="tab-pane" id="review">


                                <div class="content-list content-image">
                                    <ul>

                                    {% for coms in lastComments %}
                                        <li>

                                            <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="menu-icon"><img src="http://www.freelanceme.net/Images/default%20profile%20picture.png" alt="example image"></div>
                                                <div class="menu-text pd-5">
                                                    <h5 class="mgbt-xs-0"><span class="badge {% if coms.mark <= 1 %} vd_bg-red {% elseif coms.mark ==2 %} vd_bg-yellow {% elseif coms.mark ==3 %}vd_bg-blue {% elseif coms.mark > 3 %} vd_bg-green {% endif %}">{{ coms.mark }}</span> {{ coms.content }}</h5>
                                                    <div class="menu-info">
                                                        <div class="menu-date font-xs">Posted By: {{ coms.author }} </div>
                                                        <div class="menu-date font-xs">Posted:{{ coms.dateCreated|date }} </div>
                                                    </div>

                                                </div>

                                            </div>
                                                <div class="col-md-2 ">
                                                    <input type="checkbox" data-desactivate="{{ path("trois_wa_back_activate",{'id':coms.id,'action':"desactivate"} ) }}" data-activate="{{ path("trois_wa_back_activate",{'id':coms.id,'action':"activate"} ) }}"  class="activate" data-rel="switch" data-size="mini" data-wrapper-class="green" {% if coms.activate %}checked {% endif  %}>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="" class="btn btn-xs btn-danger col-md-3 ">  <i class="fa fa-times"></i></a>
                                                    <a href="" class="btn btn-xs btn-warning col-md-offset-1 col-md-3"> <i class="fa fa-pencil"></i></a>
                                                 </div>
                                                 <div class="col-md-1">

                                                 </div>
                                        </li>
                                       {% endfor %}
                                    </ul>
                                    <!-- Panel Widget -->

                                </div>



                            </div><!-- End .tab-pane -->




                        </div><!-- End .tab-content -->

                    </div><!-- End .tab-container -->

                    <div class="lg-margin visible-xs"></div>

                </div><!-- End .col-md-9 -->
                <div class="lg-margin2x visible-sm visible-xs"></div><!-- Space -->
            </div><!-- End .row -->

        </div><!-- End .col-md-12 -->
    </div><!-- End .row -->




    {{ form_start(formComments,{'attr':{novalidate:"novalidate",class:"form-horizontal"}}) }} {#Desactive le html5 pour tout le formulaire #}
   {{ form_errors(formComments) }}


    <div class="panel widget">
        <div class="panel-heading vd_bg-grey">
            <h3 class="panel-title"> <span class="menu-icon"> <i class="fa fa-bar-chart-o"></i> </span> Review this product</h3>
        </div>
        <div class="panel-body">
                <div class="form-group">
                    {{ form_label(formComments.author,"User Name",{ label_attr:{ class:"col-sm-2 control-label"}}) }}
                    <div class="col-sm-7 controls">
                        {{ form_widget(formComments.author,{ attr:{ class:"width-90", placeholder:" Your Name" } }) }}

                    </div>
                    {{ form_errors(formComments.author) }}

                </div>
                <div class="form-group">
                    {{ form_label(formComments.mark,"Mark",{ label_attr:{ class:"col-sm-2 control-label"}}) }}
                    <div class="col-sm-7 controls">
                    {#{{ dump(formComments.mark) }}#}
                          {#{{ form_widget(formComments.mark) }}#}
                        <div class="vd_radio radio-success">

                            {% for mark in formComments.mark.children  %}
                            <input type="radio" name="{{ mark.vars.full_name }}" id="{{ mark.vars.id }}" value="{{ mark.vars.value }}">
                            <label for="{{ mark.vars.id }}"> {{ mark.vars.label }}</label>
                            {% endfor %}

                        </div>
                        {{ form_errors(formComments.mark) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(formComments.content,"Content",{ label_attr:{ class:"col-sm-2 control-label"}}) }}

                    <div class="col-sm-7 controls">
                        {{ form_widget(formComments.content,{ attr:{ class:"width-90", rows:"3", placeholder:" Your comment here" } }) }}

                        {#<textarea rows="3" class="width-90"></textarea>#}
                    </div>
                    {{ form_errors(formComments.content) }}
                </div>


                <div class="col-md-offset-4  col-sm-7">
                    <button class="btn vd_btn vd_bg-green vd_white" type="submit"><i class="icon-ok"></i> Save</button>
                    <button class="btn vd_btn" type="button">Cancel</button>
                </div>

        </div>
    </div>

    {{ form_widget(formComments._token) }}
   </form>{#Desactive le html5 pour tout le formulaire #}



{% endblock %}

{% block javascripts  %}
    {{ parent() }}
    <script src="{{ asset("js/switch.js") }}"></script>
    {#<script src="{{ asset("js/jquery.prettyPhoto.js") }}"></script>#}
    {#<script src="{{ asset("js/colpick.js") }}"></script>#}
    {#<script src="{{ asset("js/jquery.elastislide.js") }}"></script>#}
    {#<script src="{{ asset("js/jquery.mlens-1.3.min.js") }}"></script>#}
    {#<script src="{{ asset("js/main.js") }}"></script>#}
    {#<script src="{{ asset("js/modernizr.js") }}"></script>#}

    {#<script src="{{ asset("js/jquery.flexslider-min.js") }}"></script>#}


{% endblock %}