{% extends "TroisWABackBundle::layoutBo2.html.twig" %}
{% block page %} Welcome {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 mgbt-sm-15">
            <div class="vd_status-widget vd_bg-green widget">
                <div class="vd_panel-menu">
                    <div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"> <i class="icon-cycle"></i> </div>
                </div>
                <!-- vd_panel-menu -->

                <a class="panel-body" href="#">
                    <div class="clearfix">
                <span class="menu-icon">
                    <i class="icon-network"></i>
                </span>
                <span class="menu-value">
                    1,2M
                </span>
                    </div>
                    <div class="menu-text clearfix">
                        Total Visitors
                    </div>
                </a>
            </div>                </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mgbt-sm-15">
            <div class="vd_status-widget vd_bg-red  widget">
                <div class="vd_panel-menu">
                    <div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"> <i class="icon-cycle"></i> </div>
                </div>
                <!-- vd_panel-menu -->

                <a class="panel-body" href="#">
                    <div class="clearfix">
            <span class="menu-icon">
                <i class="icon-bars"></i>
            </span>
            <span class="menu-value">
                24
            </span>
                    </div>
                    <div class="menu-text clearfix">
                        New Orders
                    </div>
                </a>
            </div>                </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mgbt-xs-15">
            <div class="vd_status-widget vd_bg-blue widget">
                <div class="vd_panel-menu">
                    <div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"> <i class="icon-cycle"></i> </div>
                </div>
                <!-- vd_panel-menu -->

                <a class="panel-body"  href="#">
                    <div class="clearfix">
            <span class="menu-icon">
                <i class="fa fa-comments"></i>
            </span>
            <span class="menu-value">
                14
            </span>
                    </div>
                    <div class="menu-text clearfix">
                        New Reviews
                    </div>
                </a>
            </div>               </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mgbt-xs-15">
            <div class="vd_status-widget vd_bg-yellow widget">
                <div class="vd_panel-menu">
                    <div data-action="refresh" data-original-title="Refresh" data-rel="tooltip" class=" menu entypo-icon smaller-font"> <i class="icon-cycle"></i> </div>
                </div>
                <!-- vd_panel-menu -->

                <a class="panel-body"  href="#">
                    <div class="clearfix">
            <span class="menu-icon">
                <i class="icon-users"></i>
            </span>
            <span class="menu-value">
                250
            </span>
                    </div>
                    <div class="menu-text clearfix">
                        New Users
                    </div>
                </a>
            </div>                </div>
    </div>
    <div class="row">
        <div class="col-md-8 mgbt-md-20 mgbt-lg-0">
            <div class="panel vd_interactive-widget light-widget widget">
                <div class="panel-body-list">
                    <div class="vd_panel-menu">
                        <div data-action="refresh" class="menu entypo-icon smaller-font" data-placement="bottom" data-toggle="tooltip" data-original-title="Refresh"> <i class="icon-cycle"></i> </div>
                        <div class="menu entypo-icon smaller-font" data-placement="bottom" data-toggle="tooltip" data-original-title="Config">
                            <div data-action="click-trigger" class="menu-trigger"> <i class="icon-cog"></i> </div>
                            <div class="vd_mega-menu-content  width-xs-2  left-xs" data-action="click-target">
                                <div class="child-menu">
                                    <div class="content-list content-menu">
                                        <ul class="list-wrapper pd-lr-10">
                                            <li> <a href="#"> <div class="menu-icon"><i class=" fa fa-user"></i></div> <div class="menu-text">Panel Menu</div> </a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu entypo-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="Close" data-action="close"> <i class="icon-cross"></i> </div>
                    </div>
                    <!-- vd_panel-menu -->


                    <div class="pd-20">
                        <h5 class="mgbt-xs-20 mgtp-20"><span class="menu-icon append-icon"><i class="icon-graph"></i></span> <strong>Revenue Vs Cost Graph</strong> (November) </h5>
                        <div id="revenue-line-chart" style="height:255px; "></div>
                    </div>
                    <div class="row mgbt-xs-0">
                        <div class="col-sm-4 mgbt-xs-15 mgbt-sm-0">
                            <div class="item-left pd-15">
                                <div id="revenue-donut-chart" style="height:100px;"></div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="item-right pd-15">
                                <div id="revenue-bar-chart" style="height: 100px;" > </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Panel Widget -->               </div>
        <!-- col-md-8 -->
        <div class="col-md-4">
            <div class="panel vd_transaction-widget light-widget widget">
                <div class="panel-body">
                    <div class="vd_panel-menu">
                        <div data-action="refresh" class="menu entypo-icon smaller-font" data-placement="bottom" data-toggle="tooltip" data-original-title="Refresh"> <i class="icon-cycle"></i> </div>
                        <div class="menu entypo-icon smaller-font" data-placement="bottom" data-toggle="tooltip" data-original-title="Config">
                            <div data-action="click-trigger" class="menu-trigger"> <i class="icon-cog"></i> </div>
                            <div class="vd_mega-menu-content  width-xs-2  left-xs" data-action="click-target">
                                <div class="child-menu">
                                    <div class="content-list content-menu">
                                        <ul class="list-wrapper pd-lr-10">
                                            <li> <a href="#"> <div class="menu-icon"><i class=" fa fa-user"></i></div> <div class="menu-text">Panel Menu</div> </a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu entypo-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="Close" data-action="close"> <i class="icon-cross"></i> </div>
                    </div>
                    <!-- vd_panel-menu -->
                    <h5 class="mgbt-xs-20 mgtp-20"><span class="menu-icon append-icon"> <i class="icon-pie"></i> </span> <strong>Current Week Transaction</strong></h5>
                    <div id="pie-chart" class="pie-chart" style="height:388px;"></div>
                    <div class="vd_info br" >
                        <h5 class="text-right font-semibold"><strong>TOTAL TRANSACTION</strong></h5>
                        <h3 class="text-right  vd_red"><span class="append-icon"><i class="fa fa-usd"></i></span>546,456</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- .col-md-4 -->
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabs widget">
                        <ul class="nav nav-tabs widget">
                            <li class="active">
                                <a data-toggle="tab" href="#home-tab">
                                    <span class="menu-icon"><i class="fa fa-comments"></i></span>
                                    Recent Reviews
                                    <span class="menu-active"><i class="fa fa-caret-up"></i></span>
                                </a></li>
                            <li>
                                <a data-toggle="tab" href="#posts-tab">
                                    <span class="menu-icon"><i class="fa fa-rocket"></i></span>
                                    Activities
                                    <span class="menu-active"><i class="fa fa-caret-up"></i></span>
                                </a></li>
                            <li>
                                <a data-toggle="tab" href="#list-tab">
                                    <span class="menu-icon"><i class="fa fa-user"></i></span>
                                    New Users
                                    <span class="menu-active"><i class="fa fa-caret-up"></i></span>
                                </a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home-tab" class="tab-pane active">
                                <div class="content-list content-image menu-action-right">
                                    <div  data-rel="scroll" data-scrollheight="550">
                                        <ul class="list-wrapper pd-lr-15">
                                            <li>
                                                <div class="menu-icon"><a href="#"><img alt="example image" src="img/avatar/avatar.jpg"></a></div>
                                                <div class="menu-text">
                                                    This product is so good that i manage to buy it 1 for me and 3 for my families. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco laboris nisi ut aliquip ex tris.
                                                </div>
                                                <div class="menu-text">
                                                    <div class="menu-info">
                                                        in <a href="#">Samsung Galaxy S4</a> -

                                                        <span class="menu-date">12 Minutes Ago </span> -
                                                        <span class="menu-rating vd_yellow"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>

                                                    </div>
                                                </div>
                                                <div class="menu-action">
                                                    <div class="menu-action-icon vd_green"  data-original-title="Approve" data-rel="tooltip-bottom">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="menu-action-icon vd_red"   data-original-title="Reject" data-rel="tooltip-bottom">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="menu-icon"><img alt="example image" src="img/avatar/avatar-2.jpg"></div>
                                                <div class="menu-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco.
                                                </div>
                                                <div class="menu-text">
                                                    <div class="menu-info">
                                                        in <a href="#">LG G2</a> -

                                                        <span class="menu-date">12 Minutes Ago </span> -
                                                        <span class="menu-rating vd_yellow"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>

                                                    </div>
                                                </div>
                                                <div class="menu-action">
                                                    <div class="menu-action-icon vd_green"  data-original-title="Approve" data-rel="tooltip-bottom">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="menu-action-icon vd_red"   data-original-title="Reject" data-rel="tooltip-bottom">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="menu-icon"><img alt="example image" src="img/avatar/avatar-3.jpg"></div>
                                                <div class="menu-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco. Consectetur adipisicing elit, sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco.
                                                </div>
                                                <div class="menu-text">
                                                    <div class="menu-info">
                                                        in <a href="#">Sony Experia Z10</a> -

                                                        <span class="menu-date">12 Minutes Ago </span> -
                                                        <span class="menu-rating vd_yellow"><i class="icon-star"></i></span>

                                                    </div>
                                                </div>
                                                <div class="menu-action">
                                                    <div class="menu-action-icon vd_green"  data-original-title="Approve" data-rel="tooltip-bottom">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="menu-action-icon vd_red"   data-original-title="Reject" data-rel="tooltip-bottom">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="menu-icon"><img alt="example image" src="img/avatar/avatar-4.jpg"></div>
                                                <div class="menu-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidtation ullamco. Ipsum dolor sit amet, consectetur adipisicing elit !!!
                                                </div>
                                                <div class="menu-text">
                                                    <div class="menu-info">
                                                        in <a href="#">Nokia Lumia</a> -

                                                        <span class="menu-date">12 Minutes Ago </span> -
                                                        <span class="menu-rating vd_yellow"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>

                                                    </div>
                                                </div>
                                                <div class="menu-action">
                                                    <div class="menu-action-icon vd_green"  data-original-title="Approve" data-rel="tooltip-bottom">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="menu-action-icon vd_red"   data-original-title="Reject" data-rel="tooltip-bottom">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="menu-icon"><img alt="example image" src="img/avatar/avatar-5.jpg"></div>
                                                <div class="menu-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </div>
                                                <div class="menu-text">
                                                    <div class="menu-info">
                                                        in <a href="#">Samsung Galaxy Note 8</a> -

                                                        <span class="menu-date">12 Minutes Ago </span> -
                                                        <span class="menu-rating vd_yellow"><i class="icon-star"></i><i class="icon-star"></i></span>

                                                    </div>
                                                </div>
                                                <div class="menu-action">
                                                    <div class="menu-action-icon vd_green"  data-original-title="Approve" data-rel="tooltip-bottom">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="menu-action-icon vd_red"   data-original-title="Reject" data-rel="tooltip-bottom">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="menu-icon"><img alt="example image" src="img/avatar/avatar-6.jpg"></div>
                                                <div class="menu-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </div>
                                                <div class="menu-text">
                                                    <div class="menu-info">
                                                        in <a href="#">LG L3</a> -

                                                        <span class="menu-date">12 Minutes Ago </span> -
                                                        <span class="menu-rating vd_yellow"><i class="icon-star"></i><i class="icon-star"></i></span>

                                                    </div>
                                                </div>
                                                <div class="menu-action">
                                                    <div class="menu-action-icon vd_green"  data-original-title="Approve" data-rel="tooltip-bottom">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="menu-action-icon vd_red"   data-original-title="Reject" data-rel="tooltip-bottom">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="menu-icon"><img alt="example image" src="img/avatar/avatar-7.jpg"></div>
                                                <div class="menu-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit xorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </div>
                                                <div class="menu-text">
                                                    <div class="menu-info">
                                                        in <a href="#">Motorola Moto-X</a> -

                                                        <span class="menu-date">12 Minutes Ago </span> -
                                                        <span class="menu-rating vd_yellow"><i class="icon-star"></i><i class="icon-star"></i></span>

                                                    </div>
                                                </div>
                                                <div class="menu-action">
                                                    <div class="menu-action-icon vd_green"  data-original-title="Approve" data-rel="tooltip-bottom">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="menu-action-icon vd_red"   data-original-title="Reject" data-rel="tooltip-bottom">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="menu-icon"><img alt="example image" src="img/avatar/avatar-8.jpg"></div>
                                                <div class="menu-text">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit xorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                </div>
                                                <div class="menu-text">
                                                    <div class="menu-info">
                                                        in <a href="#">Monitor Asus</a> -

                                                        <span class="menu-date">12 Minutes Ago </span> -
                                                        <span class="menu-rating vd_yellow"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>

                                                    </div>
                                                </div>
                                                <div class="menu-action">
                                                    <div class="menu-action-icon vd_green"  data-original-title="Approve" data-rel="tooltip-bottom">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    <div class="menu-action-icon vd_red"   data-original-title="Reject" data-rel="tooltip-bottom">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="closing text-center">
                                        <a href="#">See All Recent Reviews <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>

                            </div>
                            <div id="posts-tab" class="tab-pane sidebar-widget">
                                <div class="content-list">
                                    <div data-rel="scroll">
                                        <ul  class="list-wrapper pd-lr-15">
                                            <li> <a href="#">
                                                    <div class="menu-icon vd_yellow"><i class="fa fa-suitcase"></i></div>
                                                    <div class="menu-text"> Someone has give you a surprise
                                                        <div class="menu-info"><span class="menu-date"> ~ 12 Minutes Ago</span></div>
                                                    </div>
                                                </a> </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon vd_blue"><i class=" fa fa-user"></i></div>
                                                    <div class="menu-text">  Change your user profile details
                                                        <div class="menu-info"><span class="menu-date"> ~ 1 Hour 20 Minutes Ago</span></div>
                                                    </div>
                                                </a> </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon vd_red"><i class=" fa fa-cogs"></i></div>
                                                    <div class="menu-text">  Your setting is updated
                                                        <div class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></div>
                                                    </div>
                                                </a> </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon vd_green"><i class=" fa fa-book"></i></div>
                                                    <div class="menu-text">  Added new article
                                                        <div class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></div>
                                                    </div>
                                                </a> </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></div>
                                                    <div class="menu-text">  Change Profile Pic
                                                        <div class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></div>
                                                    </div>
                                                </a> </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon vd_red"><i class=" fa fa-cogs"></i></div>
                                                    <div class="menu-text">  Your setting is updated
                                                        <div class="menu-info"><span class="menu-date"> ~ 12 Days Ago</span></div>
                                                    </div>
                                                </a> </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon vd_green"><i class=" fa fa-book"></i></div>
                                                    <div class="menu-text">  Added new article
                                                        <div class="menu-info"><span class="menu-date"> ~ 19 Days Ago</span></div>
                                                    </div>
                                                </a> </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon vd_green"><img alt="example image" src="img/avatar/avatar.jpg"></div>
                                                    <div class="menu-text">  Change Profile Pic
                                                        <div class="menu-info"><span class="menu-date"> ~ 20 Days Ago</span></div>
                                                    </div>
                                                </a> </li>

                                        </ul>
                                    </div>
                                    <div class="closing text-center" style="">
                                        <a href="#">See All Activities <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="list-tab" class="tab-pane">
                                <div class="content-grid column-xs-2 column-sm-6 height-xs-3">
                                    <div data-rel="scroll" >
                                        <ul class="list-wrapper">
                                            <li> <a href="#">
                                                    <div class="menu-icon width-50"><img alt="example image" src="img/avatar/avatar.jpg"></div>
                                                </a>
                                                <div class="menu-text"> Gabriella Montagna
                                                    <div class="menu-info">
                                                        <div class="menu-date">San Diego</div>
                                                        <div class="menu-action">
                                    <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-times"></i>
                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="menu-icon width-50"><img alt="example image" src="img/avatar/avatar-2.jpg"></div>
                                                </a>
                                                <div class="menu-text">  Jonathan Fuzzy
                                                    <div class="menu-info">
                                                        <div class="menu-date">Seattle</div>
                                                        <div class="menu-action">
                                        <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                            <i class="fa fa-times"></i>
                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon width-50"><img alt="example image" src="img/avatar/avatar-3.jpg"></div>
                                                </a>
                                                <div class="menu-text">  Sakura Hinata
                                                    <div class="menu-info">
                                                        <div class="menu-date">Hawaii</div>
                                                        <div class="menu-action">
                                    <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-times"></i>
                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon width-50"><img alt="example image" src="img/avatar/avatar-4.jpg"></div>
                                                </a>
                                                <div class="menu-text">  Rikudou Sennin
                                                    <div class="menu-info">
                                                        <div class="menu-date">Las Vegas</div>
                                                        <div class="menu-action">
                                    <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-times"></i>
                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon width-50"><img alt="example image" src="img/avatar/avatar-5.jpg"></div>
                                                </a>
                                                <div class="menu-text">  Kim Kardiosun
                                                    <div class="menu-info">
                                                        <div class="menu-date">New York</div>
                                                        <div class="menu-action">
                                    <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-times"></i>
                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon width-50"><img alt="example image" src="img/avatar/avatar-6.jpg"></div>
                                                </a>
                                                <div class="menu-text">   Brad Pita
                                                    <div class="menu-info">
                                                        <div class="menu-date">Seattle</div>
                                                        <div class="menu-action">
                                    <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-times"></i>
                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon width-50"><img alt="example image" src="img/avatar/avatar-7.jpg"></div>
                                                </a>
                                                <div class="menu-text">  Celline Dior
                                                    <div class="menu-info">
                                                        <div class="menu-date">Los Angeles</div>
                                                        <div class="menu-action">
                                    <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-times"></i>
                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li> <a href="#">
                                                    <div class="menu-icon width-50"><img alt="example image" src="img/avatar/avatar-8.jpg"></div>
                                                </a>
                                                <div class="menu-text">  Goerge Bruno Marz
                                                    <div class="menu-info">
                                                        <div class="menu-date">Las Vegas</div>
                                                        <div class="menu-action">
                                    <span class="menu-action-icon vd_green vd_bd-green" data-original-title="Approve" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="menu-action-icon vd_red vd_bd-red" data-original-title="Reject" data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-times"></i>
                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="closing text-center">
                                        <a href="#">See All New Users <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- tabs-widget -->                  </div>
                <!-- col-md-12 -->
            </div>
            <!-- row -->

        </div>
        <!-- col-md-6 -->
        <div class="col-md-5">
            <div class="panel widget">
                <div class="panel-body-list  table-responsive">
                    <table class="table no-head-border table-striped">
                        <thead class="vd_bg-blue vd_white">
                        <tr>
                            <th><i class="fa fa-search append-icon"></i>Last 5 Search Terms</th>
                            <th style="width:20px">Results</th>
                            <th style="width:140px">Number of Uses</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Pan</td>
                            <td class="text-center">4</td>
                            <td class="text-center">20</td>
                        </tr>
                        <tr>
                            <td>Fork</td>
                            <td class="text-center">1</td>
                            <td class="text-center">5</td>
                        </tr>
                        <tr>
                            <td>Big Bowl</td>
                            <td class="text-center">7</td>
                            <td class="text-center">23</td>
                        </tr>
                        <tr>
                            <td>Cooking Utensils</td>
                            <td class="text-center">2</td>
                            <td class="text-center">1</td>
                        </tr>
                        <tr>
                            <td>Ketchup Bottle</td>
                            <td class="text-center">3</td>
                            <td class="text-center">12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel widget">
                <div class="panel-body-list  table-responsive">
                    <table class="table no-head-border table-striped">
                        <thead class="vd_bg-blue vd_white">
                        <tr>
                            <th><i class="fa fa-search append-icon"></i>Top 5 Search Terms</th>
                            <th style="width:20px">Results</th>
                            <th style="width:140px">Number of Uses</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Pan</td>
                            <td class="text-center">4</td>
                            <td class="text-center">20</td>
                        </tr>
                        <tr>
                            <td>Fork</td>
                            <td class="text-center">1</td>
                            <td class="text-center">5</td>
                        </tr>
                        <tr>
                            <td>Big Bowl</td>
                            <td class="text-center">7</td>
                            <td class="text-center">23</td>
                        </tr>
                        <tr>
                            <td>Cooking Utensils</td>
                            <td class="text-center">2</td>
                            <td class="text-center">1</td>
                        </tr>
                        <tr>
                            <td>Ketchup Bottle</td>
                            <td class="text-center">3</td>
                            <td class="text-center">12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- col-md-6 -->

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Specific Page Scripts Put Here -->
    <!-- Flot Chart  -->
    <script type="text/javascript" src="{{ asset("plugins/flot/jquery.flot.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("plugins/flot/jquery.flot.resize.js") }}"></script>
    <script type="text/javascript" src="{{ asset("plugins/flot/jquery.flot.pie.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("plugins/flot/jquery.flot.categories.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("plugins/flot/jquery.flot.animator.min.js") }}"></script>

    <!-- Vector Map -->
    <script type="text/javascript" src="{{ asset("plugins/jvectormap/jquery-jvectormap-1.2.2.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("plugins/jvectormap/jquery-jvectormap-world-mill-en.js") }}"></script>


    <!-- Intro JS (Tour) -->
    <script type="text/javascript" src='{{ asset("plugins/introjs/js/intro.min.js") }}'></script>




    <script type="text/javascript">
        $(window).load(function()
        {

            "use strict";

            $(window).on("resize", function(){
                plot.resize();
                plot.setupGrid();
                plot.draw();
            });


            $.fn.UseTooltip = function () {
                var previousPoint = null;

                $(this).bind("plothover", function (event, pos, item) {
                    if (item) {
                        if (previousPoint != item.dataIndex) {

                            previousPoint = item.dataIndex;

                            $("#tooltip").remove();
                            var x = item.datapoint[0].toFixed(2),
                                    y = item.datapoint[1].toFixed(2);

                            showTooltip(item.pageX, item.pageY,
                                    "<p class='vd_bg-green'><strong class='mgr-10 mgl-10'>" + Math.round(x)  + " NOV 2013 </strong></p>" +
                                    "<div style='padding: 0 10px 10px;'>" +
                                    "<div>" + item.series.label +": <strong>"+ Math.round(y)  +"</strong></div>" +
                                    "<div> Profit: <strong>$"+ Math.round(y)*7  +"</strong></div>" +
                                    "</div>"
                            );
                        }
                    } else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                });
            };

            function showTooltip(x, y, contents) {
                $('<div id="tooltip">' + contents + '</div>').css({
                    position: 'absolute',
                    display: 'none',
                    top: y + 5,
                    left: x + 20,
                    size: '10',
//				'border-top' : '3px solid #1FAE66',
                    'background-color': '#111111',
                    color: "#FFFFFF",
                    opacity: 0.85
                }).appendTo("body").fadeIn(200);
            }


            /* REVENUE LINE CHART */

            var d2 = [ [1, 250],
                [2, 150],
                [3, 50],
                [4, 200],
                [5,50],
                [6, 150],
                [7, 150],
                [8, 200],
                [9, 100],
                [10, 250],
                [11,250],
                [12, 200],
                [13, 300]

            ];
            var d1 = [
                [1, 650],
                [2, 550],
                [3, 450],
                [4, 550],
                [5, 350],
                [6, 500],
                [7, 600],
                [8, 450],
                [9, 300],
                [10, 600],
                [11, 400],
                [12, 500],
                [13, 700]

            ];
            var plot = $.plotAnimator($("#revenue-line-chart"), [
                {  	label: "Revenue",
                    data: d2,
                    lines: {
                        fill: 0.4,
                        lineWidth: 0,
                    },
                    color:['#f2be3e']
                },{
                    data: d1,
                    animator: {steps: 60, duration: 1000, start:0},
                    lines: {lineWidth:2},
                    shadowSize:0,
                    color: '#F85D2C'
                },{
                    label: "Revenue",
                    data: d1,
                    points: { show: true, fill: true, radius:6,fillColor:"#F85D2C",lineWidth:3 },
                    color: '#fff',
                    shadowSize:0
                },
                {	label: "Cost",
                    data: d2,
                    points: { show: true, fill: true, radius:6,fillColor:"#f2be3e",lineWidth:3 },
                    color: '#fff',
                    shadowSize:0
                }
            ],{	xaxis: {
                tickLength: 0,
                tickDecimals: 0,
                min:2,

                font :{
                    lineHeight: 13,
                    style: "normal",
                    weight: "bold",
                    family: "sans-serif",
                    variant: "small-caps",
                    color: "#6F7B8A"
                }
            },
                yaxis: {
                    ticks: 3,
                    tickDecimals: 0,
                    tickColor: "#f0f0f0",
                    font :{
                        lineHeight: 13,
                        style: "normal",
                        weight: "bold",
                        family: "sans-serif",
                        variant: "small-caps",
                        color: "#6F7B8A"
                    }
                },
                grid: {
                    backgroundColor: { colors: [ "#fff", "#fff" ] },
                    borderWidth:1,borderColor:"#f0f0f0",
                    margin:0,
                    minBorderMargin:0,
                    labelMargin:20,
                    hoverable: true,
                    clickable: true,
                    mouseActiveRadius:6
                },
                legend: { show: false}
            });

            $("#revenue-line-chart").UseTooltip();



            /* REVENUE DONUT CHART */

            var data2 = [],
                    series = 3;
            var data2 = [
                { label: "Men",  data: 35},
                { label: "Women",  data: 65}
            ];
            var revenue_donut_chart = $("#revenue-donut-chart");

            $("#revenue-donut-chart").bind("plotclick", function (event, pos, item) {
                if (item) {
                    $("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
                    plot.highlight(item.series, item.datapoint);
                }
            });
            $.plot(revenue_donut_chart, data2, {
                series: {
                    pie: {
                        innerRadius: 0.4,
                        show: true
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                },
                colors: ["#1FAE66", "#F85D2C "]
            });


            /* REVENUE BAR CHART */

            var bar_chart_data = [ ["Jan", 10], ["Feb", 8], ["Mar", 4], ["Apr", 13], ["May", 17], ["Jun", 9], ["Jul", 10], ["Aug", 8], ["Sep", 4], ["Oct", 13], ["Nov", 17], ["Dec", 9] ];

            var bar_chart = $.plot(
                    $("#revenue-bar-chart"), [{
                        data: bar_chart_data,
                        //           color: "rgba(31,174,102, 0.8)",
                        color: "#F85D2C" ,
                        shadowSize: 0,
                        bars: {
                            show: true,
                            lineWidth: 0,
                            fill: true,
                            fillColor: {
                                colors: [{
                                    opacity: 1
                                }, {
                                    opacity: 1
                                }]
                            }
                        }
                    }], {
                        series: {
                            bars: {
                                show: true,
                                barWidth: 0.9,
                                align: "center"
                            }
                        },
                        grid: {
                            show: true,
                            hoverable: true,
                            borderWidth: 0
                        },
                        yaxis: {
                            min: 0,
                            max: 20,
                            show: false
                        },
                        xaxis: {
                            mode: "categories",
                            tickLength: 0,
                            color: "#FFFFFF",
                        }
                    });

            var previousPoint2 = null;
            $("#revenue-bar-chart").bind("plothover", function (event, pos, item) {
                $("#x").text(pos.x.toFixed(2));
                $("#y").text(pos.y.toFixed(2));
                if (item) {
                    if (previousPoint2 != item.dataIndex) {
                        previousPoint2 = item.dataIndex;
                        $("#tooltip").remove();
                        var x = item.datapoint[0] + 1,
                                y = item.datapoint[1].toFixed(2);
                        showTooltip(item.pageX, item.pageY,
                                "<p class='vd_bg-green'><strong class='mgr-10 mgl-10'>" + x + " - 2013 </strong></p>" +
                                "<div style='padding: 0 10px 10px;'>" +
                                "<div> Sales: <strong>"+ Math.round(y)*17  +"</strong></div>" +
                                "<div> Profit: <strong>$"+ Math.round(y)*280  +"</strong></div>" +
                                "</div>"
                        );
                    }
                }
            });

            $('#revenue-bar-chart').bind("mouseleave", function () {
                $("#tooltip").remove();
            });



            /* PIE CHART */

            var pie_placeholder = $("#pie-chart");

            var pie_data = [];

            pie_data[0] = {
                label: "IE",
                data: 10
            }
            pie_data[1] = {
                label: "Safari",
                data: 8
            }
            pie_data[2] = {
                label: "Opera",
                data: 8
            }
            pie_data[3] = {
                label: "Chrome",
                data: 13
            }
            pie_data[4] = {
                label: "Firefox",
                data: 17
            }
            pie_data[5] = {
                label: "Other",
                data: 3
            }
            $.plot(pie_placeholder, pie_data, {
                series: {
                    pie: {
                        show: true,
                        label:{
                            show: true,
                            radius: .5,
                            formatter: labelFormatter,
                            background: {
                                opacity: 0
                            }
                        },

                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
                colors: ["#FCB660", "#ce91db", "#56A2CF", "#52D793", "#FC8660", "#CCCCCC"]
            });

            pie_placeholder.bind("plothover", function(event, pos, obj) {
                if (!obj) {
                    return;
                }
                var percent = parseFloat(obj.series.percent).toFixed(2);
                $("#hover").html("<span style='font-weight:bold; color:" + obj.series.color + "'>" + obj.series.label + " (" + percent + "%)</span>");
            });

            pie_placeholder.bind("plotclick", function(event, pos, obj) {
                if (!obj) {
                    return;
                }
                percent = parseFloat(obj.series.percent).toFixed(2);
                alert(""  + obj.series.label + ": " + percent + "%");
            });

            function labelFormatter(label, series) {
                return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
            }





// Notification
            //   setTimeout(function() { notification("topright","notify","fa fa-exclamation-triangle vd_yellow","Welcome to Vendroid","Click on <i class='fa fa-question-circle vd_red'></i> Question Mark beside filter to take a view layout tour guide"); },1500)	 ;


        });
    </script>
    <!-- Specific Page Scripts END -->
{% endblock %}