{% extends "TroisWABackBundle::layoutBo2.html.twig" %}

{% block content %}







    {% for message in app.session.flashbag.get("success_contact") %}

        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>	<i class="icon fa fa-check"></i> Yay!</h4>
            {{ message }}
        </div>


    {% endfor %}

    <div class="tab-content col-md-offset-1 col-sm-10">
        <div class="tab-pane active" id="tab1">
            {#{{ form_start(formContact) }}#}
            {{ form_start(formContact,{'attr':{novalidate:"novalidate"}}) }} {#Desactive le html5 pour tout le formulaire #}

            {#ceci permet d'afficher le label,widget(input) et errors#}
            {#{{ form_row(formContact.email) }}#}


            {#&#123;&#35;<label>&#35;&#125; {{ form_label(formContact.email,null,{ label_attr:{ class:"form-label"}}) }}#}
            {#&#123;&#35;<input>&#35;&#125;{{ form_errors(formContact.email) }}#}
            {#&#123;&#35;<ul/li>&#35;&#125; {{ form_widget(formContact.email,{ attr:{ class:"form-control", placeholder:"bob" }, id:"bob" }) }}#}


            <div class="row col-sm-12">


                    {{ form_label(formContact.page,"Page Url",{ label_attr:{ class:"form-label"}}) }}
                    {{ form_widget(formContact.page,{ attr:{ class:"form-control noresize", placeholder:" Page Url" } }) }}
                    {{ form_errors(formContact.page) }}

            </div>
            <div class="row  col-sm-12">
                <div class="col-sm-6 ">
                    {{ form_label(formContact.date,"Date",{ label_attr:{ class:"form-label"}}) }}
                    <div class=" row">

                    <div class="col-sm-4 ">
                    {{ form_widget(formContact.date.day,{ attr:{ class:"form-control"} }) }}
                     </div>
                    <div class="col-sm-4 ">
                        {{ form_widget(formContact.date.month,{ attr:{ class:"form-control"} }) }}
                    </div>
                    <div class="col-sm-4 ">
                        {{ form_widget(formContact.date.year,{ attr:{ class:"form-control"} }) }}
                    </div>
                        </div>
                    {{ form_errors(formContact.date) }}
                </div>
                <div class="col-sm-6">
                    {{ form_label(formContact.bugstatus,"Bug",{ label_attr:{ class:"form-label"}}) }}
                    {{ form_widget(formContact.bugstatus,{ attr:{ class:"form-control" } }) }}
                    {{ form_errors(formContact.bugstatus) }}
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    {{ form_label(formContact.firstname,"First Name",{ label_attr:{ class:"form-label"}}) }}
                    {{ form_widget(formContact.firstname,{ attr:{ class:"form-control", placeholder:" First Name" } }) }}
                    {{ form_errors(formContact.firstname) }}
                </div>
                <div class="col-sm-8">
                    {{ form_label(formContact.email,"Email",{ label_attr:{ class:"form-label"}}) }}
                    {{ form_widget(formContact.email,{ attr:{ class:"form-control", placeholder:" Email" } }) }}
                    {{ form_errors(formContact.email) }}
                </div>
            </div>



            <br>
            <div class="row">
                    <button class="btn btn-warning  col-md-6 col-md-offset-3" type="submit">Submit
            <span class="menu-icon">
                <i class="fa fa-fw fa-chevron-circle-right"></i></span
                    ></button>
            </div>


        </div>

        {{ form_end(formContact) }}
    </div>





        {# dump(formContact.date) #}
        {#{{ form_widget(formContact.date.day) }}#}


{% endblock %}