{% extends "TroisWABackBundle::layoutBo2.html.twig" %}

{% block page %} Categories {% endblock %}

{% block content %}


    <div class="panel widget  light-widget">
        <div class="panel-heading no-title"> </div>
        <div  class="panel-body">
            <div class="tab-content no-bd mgbt-xs-20">
                <div id="tabinfo" class="tab-pane active">
                    {{ form_start(formCategory,{'attr':{novalidate:"novalidate",class:"form-horizontal"}}) }} {#Desactive le html5 pour tout le formulaire #}
                    {{ form_errors(formCategory) }}


                    {#<form class="form-horizontal">#}
                    <div class="vd_panel-menu">
                        <div> <button class="btn vd_btn vd_bg-blue btn-sm" type="submit">
                                <i class="fa fa-save append-icon"></i>
                                Save Changes
                            </button>
                            <button  data-toggle="modal" data-target="#myModal" class="btn btn-default btn-sm">
                                <i class="fa fa-times append-icon"></i>
                                Cancel Changes</button>
                        </div>
                    </div>



                    <h3 class="mgtp-15 mgbt-xs-20"> Category Information</h3>
                    <div class="form-group">
                      
                    </div>
                    <!-- form-group -->
                    <div class="col-md-12">

                        <div class="form-group">
                            <span title="" data-toggle="tooltip" class="label-tooltip" data-original-title="Product Name">  {{ form_label(formCategory.title,"Name",{ label_attr:{ class:"control-label col-lg-3 required"}}) }} </span>

                            <div class="col-lg-5">
                                <div class="row mgbt-xs-0">
                                    <div class="col-sm-9">
                                        {{ form_widget(formCategory.title,{ attr:{ class:"updateCurrentText", placeholder:" Title" } }) }}
                                    </div>


                                    <div class="col-sm-2">
                                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle" type="button"> en <span class="caret"></span> </button>
                                        <ul class="dropdown-menu">
                                            <li> <a href="#">English (English)</a> </li>
                                            <li> <a href="#">Español (Spanish)</a> </li>
                                            <li> <a href="#">Français (French)</a> </li>
                                            <li> <a href="#">Italiano (Italian)</a> </li>
                                            <li> <a href="#">Deutsch (German)</a> </li>
                                            <li> <a href="#">Dutch</a> </li>
                                            <li> <a href="#">Polish</a> </li>
                                            <li> <a href="#">Russian</a> </li>
                                            <li> <a href="#">Portuguese</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_errors(formCategory.title) }}
                    </div>


                    <!-- form-group -->
                    <div class="col-md-12"><br></div>
                    <div class="col-md-12">

                        <div class="form-group">
                            <span title="" data-toggle="tooltip" class="label-tooltip" data-original-title="Category position"> {{ form_label(formCategory.position,"Position",{ label_attr:{ class:"control-label col-lg-3 required"}}) }} </span>
                            <div class="col-lg-3">
                                {{ form_widget(formCategory.position,{ attr:{ class:"updateCurrentText", placeholder:" Position" } }) }}

                            </div>
                            <div class="form-group">
                                <span title="" data-toggle="tooltip" class="label-tooltip" data-original-title="">{{ form_label(formCategory.activate,"Enable",{ label_attr:{ class:"control-label col-lg-3 required"}}) }}  </span>
                                <div class="col-lg-3">
                                    {{ form_widget(formCategory.activate,{ attr:{ class:"updateCurrentText" } }) }}
                                </div>

                            </div>
                        </div>
                    </div>
                    {{ form_errors(formCategory.position) }}



                <!-- form-group -->
                <div class="col-md-12"><br></div>

                <div class="form-group">
                    <label for="description_short_1" class="control-label col-lg-3"> <span title="" data-toggle="tooltip" class="label-tooltip" data-original-title="Appears in the product list(s), and at the top of the product page."> Short description </span> </label>
                    <div class="col-lg-8 mgbt-xs-10 mgbt-lg-0">
                        <textarea name="description_short_1" id="description_short_1" data-rel="ckeditor" rows="1" ></textarea>
                    </div>
                    <div class="col-lg-1">
                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle" type="button"> en <span class="caret"></span> </button>
                        <ul class="dropdown-menu pull-right">
                            <li> <a href="#">English (English)</a> </li>
                            <li> <a href="#">Español (Spanish)</a> </li>
                            <li> <a href="#">Français (French)</a> </li>
                            <li> <a href="#">Italiano (Italian)</a> </li>
                            <li> <a href="#">Deutsch (German)</a> </li>
                            <li> <a href="#">Dutch</a> </li>
                            <li> <a href="#">Polish</a> </li>
                            <li> <a href="#">Russian</a> </li>
                            <li> <a href="#">Portuguese</a> </li>
                        </ul>
                    </div>
                </div>
                <!-- form-group -->
                <div class="col-md-12"><br></div>

                <div class="form-group">
                    <span title="" data-toggle="tooltip" class="label-tooltip" data-original-title="Appears in the body of product detail."> {{ form_label(formCategory.description,"Description",{ label_attr:{ class:"control-label col-lg-3 required"}}) }}  </span> </label>
                    <div class="col-lg-8 mgbt-xs-10 mgbt-lg-0">
                        {{ form_widget(formCategory.description) }}
                    </div>
                    <div class="col-lg-1">
                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle" type="button"> en <span class="caret"></span> </button>
                        <ul class="dropdown-menu pull-right">
                            <li> <a href="#">English (English)</a> </li>
                            <li> <a href="#">Español (Spanish)</a> </li>
                            <li> <a href="#">Français (French)</a> </li>
                            <li> <a href="#">Italiano (Italian)</a> </li>
                            <li> <a href="#">Deutsch (German)</a> </li>
                            <li> <a href="#">Dutch</a> </li>
                            <li> <a href="#">Polish</a> </li>
                            <li> <a href="#">Russian</a> </li>
                            <li> <a href="#">Portuguese</a> </li>
                        </ul>
                    </div>
                </div>
                {{ form_errors(formCategory.description) }}
                <!-- form-group -->

                <div class="col-md-12"><br></div>
                <div class="form-group">
                    <label for="tags_1" class="control-label col-lg-3"> <span title="" data-toggle="tooltip" class="label-tooltip" data-original-title="Each tag has to be followed by a comma. The following characters are forbidden: !&lt;;&gt;;?=+#&quot;°{}_$%"> Tags </span> </label>
                    <div class="col-lg-8 mgbt-xs-10 mgbt-lg-0">
                        <div class="row">
                            <div class="col-lg-9 mgbt-xs-10 mgbt-lg-0">
                                <input type="text" value="" name="tags_1"  id="tags_1" data-rel="tags-input">
                            </div>
                            <div class="col-lg-2">
                                <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle" type="button"> en <span class="caret"></span> </button>
                                <ul class="dropdown-menu">
                                    <li> <a href="#">English (English)</a> </li>
                                    <li> <a href="#">Español (Spanish)</a> </li>
                                    <li> <a href="#">Français (French)</a> </li>
                                    <li> <a href="#">Italiano (Italian)</a> </li>
                                    <li> <a href="#">Deutsch (German)</a> </li>
                                    <li> <a href="#">Dutch</a> </li>
                                    <li> <a href="#">Polish</a> </li>
                                    <li> <a href="#">Russian</a> </li>
                                    <li> <a href="#">Portuguese</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">

                        <h3 class="mgtp-15 mgbt-xs-20"> Images</h3>
                        <div class="form-group">
                            <label class="control-label col-lg-3 file_upload_label"> <span title="" data-toggle="tooltip" class="label-tooltip" data-original-title="Format JPG, GIF, PNG. Filesize 8.00 MB max."> Add a new image </span> </label>
                            <div class="col-lg-9">
                               <!-- The file input field used as target for the file upload widget -->

                                    {{ form_widget(formCategory.image.file) }}
                                    {#<input type="file" multiple name="files[]" id="fileupload">#}

                                <!-- The container for the uploaded files -->
                                <div id="files" class="files"></div>
                                <br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3"> <span title="" data-toggle="tooltip" class="label-tooltip" data-original-title="Invalid characters &lt;&gt;;=#{}"> {{ form_label(formCategory.image.children.caption) }} </span> </label>
                            <div class="col-lg-9">
                                <div class="translatable-field row lang-1">
                                    <div class="col-lg-6">
                                        {{ form_widget(formCategory.image.children.caption) }}</div>
                                    <div class="col-lg-2">
                                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle" type="button"> en <span class="caret"></span> </button>
                                        <ul class="dropdown-menu">
                                            <li> <a href="#">English (English)</a> </li>
                                            <li> <a href="#">Español (Spanish)</a> </li>
                                            <li> <a href="#">Français (French)</a> </li>
                                            <li> <a href="#">Italiano (Italian)</a> </li>
                                            <li> <a href="#">Deutsch (German)</a> </li>
                                            <li> <a href="#">Dutch</a> </li>
                                            <li> <a href="#">Polish</a> </li>
                                            <li> <a href="#">Russian</a> </li>
                                            <li> <a href="j#">Portuguese</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                 {#   {{ form_widget(formCategory._token) }}
                    </form>&#123;&#35;Desactive le html5 pour tout le formulaire &#35;&#125;#}
                <!-- #tabinfo -->
            </div>
        </div>
    </div>



    {{ form_end(formCategory) }} {#Desactive le html5 pour tout le formulaire #}

    {#{{ form(formCategory,{'attr':{novalidate:"novalidate"}}) }} #}

{% endblock %}