{% extends "TroisWABackBundle::layoutBo2.html.twig" %}

{% block page %} Category {% endblock %}

{% block content %}

<h1> Category {{ cat.id }}: {{ cat.title }}</h1>
<a href="{{ path("trois_wa_back_categories") }}">Retour vers toutes les categories</a>

<br>
<br>

{% if cat.image %}

<img src="{{ asset(cat.image.webPath) }}">

{% endif %}
<br>
<h3> Description:</h3>
{{ cat.description | nl2br | raw }}
<br>
<br>
{{ cat.description |striptags | length }} caracteres | Date:



{% endblock %}
