{% extends "TroisWABackBundle::layoutBo2.html.twig" %}

{% block page %} Categories {% endblock %}

{% block content %}




    {#<ul>#}
    {#{% for category in categories %}#}
    {#<li> <a href="{{ path("trois_wa_back_category",{ 'id': category.id } ) }}"> {{ category.title }} </a></li>#}
    {#{% endfor %}#}
    {#</ul>#}


    {#<h2> Actifs</h2>#}

    {#{% for category in categories if category.active == true %}#}

    {#{{ category.title }}#}

    {#{% endfor %}#}
    <div class="row">
        <div class="col-md-12">
            <div class="panel widget">
                <div class="panel-heading vd_bg-grey col-md-12">

                    <h3 class="panel-title col-md-6"> <span class="menu-icon"> <i class="fa fa-dot-circle-o"></i> </span> Available categories </h3>
                    <a href="{{  path("trois_wa_back_category_add")}}" class="btn-xs pull-right menu-icon vd_bd-white vd_white">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Thumbnail</th>
                            <th>Status</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>{{ category.title }}</td>
                                {#<td>{{ category.date_created|date("d/m/Y") }}</td>#}
                                {% if category.image %}
                                <td><img src="{{ asset(category.image.webpath("thumb-small")) }}"></td>
                                {% endif %}

                                <td><span class="label label-{% if category.activate ==true %}success">Actif{% else %}warning">Not Actif{% endif %}</span></td>
                                <td>{{ category.description |raw }}</td>
                                <td class="menu-action">
                                    <a href="{{  path("trois_wa_back_category",{'id':category.id} ) }}" data-original-title="view" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-green vd_green">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="{{ path("trois_wa_back_category_edit",{'id':category.id} ) }}" data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="{{ path("trois_wa_back_category_delete",{'id':category.id}) }}" data-original-title="delete" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <!-- Panel Widget -->
        </div>
        <!-- col-md-12 -->
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("js/delete.js") }}"></script>

{% endblock %}